# Гольцев Матвій

In [22]:
import pandas as pd

In [23]:
table = pd.read_csv('Expanded_data_with_more_features.csv')
table

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

# 1. Скільки студентів і студенток у наборі даних?

In [24]:
gender_counts = table.groupby('Gender').count()
gender_counts['Unnamed: 0']

Gender
female    15424
male      15217
Name: Unnamed: 0, dtype: int64

# 2. Який відсоток студентів чоловічої статі в наборі даних?

In [25]:
male_percentage = (gender_counts.loc['male', 'Unnamed: 0'] / gender_counts['Unnamed: 0'].sum()) * 100
f"Male percentage: {male_percentage}%"

'Male percentage: 49.6622172905584%'

 # 3. Який відсоток студенток у наборі даних?

In [38]:
female_percentage = 100 - male_percentage
f"Female percentage: {female_percentage}%"

'Female percentage: 50.3377827094416%'

# 4. Яка етнічна група має найвищий середній бал з математики?

In [26]:
math_means = table.groupby('EthnicGroup')['MathScore'].mean()
math_means.idxmax()

'group E'

# 5. Яка етнічна група має найвищий середній бал читання?

In [27]:
reading_means = table.groupby('EthnicGroup')['ReadingScore'].mean()
reading_means.idxmax()

'group E'

  # 6. Яка етнічна група має найвищий середній бал з письма?

In [28]:
writing_means = table.groupby('EthnicGroup')['WritingScore'].mean()
writing_means.idxmax()

'group E'

# 7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [29]:
preparation_course_math_mean = table.groupby('TestPrep')['MathScore'].mean()
preparation_course_math_mean.loc['completed']

69.5466599698644

 # 8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [30]:
preparation_course_reading_mean = table.groupby('TestPrep')['ReadingScore'].mean()
preparation_course_reading_mean.loc['completed']

73.73299849321948

# 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [31]:
preparation_course_writing_mean = table.groupby('TestPrep')['WritingScore'].mean()
preparation_course_writing_mean.loc['completed']

74.70326469111

# 10. Скільки студентів мають одружених батьків?

In [32]:
parents_married = table.groupby('ParentMaritalStatus')['Unnamed: 0'].count()
parents_married.loc['married']

16844

# 11. Скільки студентів мають батьків-одинаків?

In [33]:
parents_married.loc['single']

7097

# 12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не       займається спортом?

In [34]:
practice_sport_math_means = table.groupby('PracticeSport')['MathScore'].mean()
practice_sport_math_means.loc['regularly'] > practice_sport_math_means.loc['never']

True

 # 13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [35]:
practice_sport_reading_means = table.groupby('PracticeSport')['ReadingScore'].mean()
practice_sport_reading_means.loc['regularly'] > practice_sport_math_means.loc['never']

True

# 14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [36]:
transport_counts = table.groupby('TransportMeans')['Unnamed: 0'].count()
transport_counts.loc['school_bus']

16145

# 15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [37]:
transport_counts.loc['private']

11362